/* VARIABLES */
:root {
    --color-p: rgb(241, 245, 249);
    --color-s: rgb(36, 36, 36);
    --color-a: rgb(1, 0, 91);
    --color-a2: rgb(121, 84, 243);
}

* {
    font-family: "Roboto", sans-serif;
}

.title {
    font-family: "Space Grotesk", sans-serif;
}

body {
    background: #f1f5f9;
}



/* NAVBAR */
nav {
    background: #01005b;
    position: relative;
    z-index: 1000;
}

.button:hover {
    animation: my-animation .7s 4 ease-in-out forwards;
}

@keyframes my-animation {

    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.2);
    }

    80% {
        transform: scale(1);
    }

}

.nav-hamburger {
    margin: 0;
    width: 2em;
    height: 1.5em;
    position: absolute;
    z-index: 110;
    transform: rotate(0deg);
    transition: all .35s cubic-bezier(.215, .61, .355, 1);
}

.nav-hamburger span {
    left: 0;
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    background: #fff;
    border-radius: 10px;
    transition: all .35s cubic-bezier(.215, .61, .355, 1);
}

.nav-hamburger span:nth-child(1) {
    top: 0;
    width: 100%;
}

.nav-hamburger span:nth-child(2),
.nav-hamburger span:nth-child(3) {
    top: 10px;
    width: 35%;
}

.nav-hamburger span:nth-child(4) {
    top: 20px;
    width: 65%;
}

.open .nav-hamburger {
    transform: rotate(180deg);
}

.open .nav-hamburger span:nth-child(1) {
    top: 2em;
    width: 0;
}

.open .nav-hamburger span:nth-child(2) {
    width: 100%;
    transform: rotate(45deg);
}

.open .nav-hamburger span:nth-child(3) {
    transform: rotate(-45deg);
    width: 100%;
}

.open .nav-hamburger span:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%;
}



/* NAVBAR MENU */
.menu {
    background: #242424;
    position: absolute;
    width: 100%;
    height: 160px;
    margin: auto;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 15% 10%;
    transition: all 2s cubic-bezier(.215, .61, .355, 1);
    top: -100%;
    left: 0;
    z-index: -1;
}

.menu a {
    display: block;
    position: relative;
}

.open .menu {
    opacity: 1;
    transition: all .5s cubic-bezier(.215, .61, .355, 1);
    width: 100%;
    height: 500px;
    top: 80px;
    left: 0;
    z-index: 99;
}